body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.navBar {
    display: flex;
    justify-content: space-between;
    background-color: #21222A;
    padding: 0 2%;

}

.navBar > div {
    display: inline-flex;
    align-items: center;
    
}

.navBar > div > h3 {
    font-size: 3rem;
    margin-left: 5%;
    color: #61DAFB;
    font-weight: 700;
}

.navBar > div > h4 {
    display: flex;
    font-size: 1.6rem;
    color: #DEEBF8;
    font-weight: 400;
}

.navBar > div > img {
    height: 70px;
    width: 70px;
}